configuration {
  show-icons: true;
  font: "Noto Sans 10";
  drun-display-format: "{icon} {name}";
  display-run: "  ";
  display-drun: " ";
  display-window: "  ";
  modi: "window,run,drun";
  location: 2;
}

@theme "nord"
